@model Committes.Models.Member
<style>
    label {
        font-weight: bold;
        display: block;
    }

    table.table td, table.table th {
        vertical-align: top;
        border: solid 1px #000;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }
</style>

    <table style="width: 100%;  font-size: 10px;">
        <tr>
            <td style="width: 50%; text-align: center;">
                <div>
                    وزارة التـربيـــة والتعلـــيم والتعليم الفني <br />
                    الإدارة العامة للإمتحانات <br />
                    لجنة الإدارة لامتحان دبلوم المدارس الثانوية الصناعية <br />
                    نظام السنوات الثلاث / قطاع @Model.Committee.School.LearningManagement.Governrate.Sector.Title

                </div>
            </td>
            <td style="text-align: center;">
                <div>
                    <div>
                        (  استمــارة رقـم ( 3 )   , ح ,  " امتحانات عامة " )
                    </div>
                    <div style="text-align: center; ">
                        <p style="border: solid 3px #000; padding: 5px; border-radius: 8px;">
                            يتعين على ملاحظ اللجنة عدم السماح للطالب بمغادرة اللجنة إلا بعد التأكد من عدد أوراق كراسة الاجابة وفرزها.

                        </p>
                    </div>

                </div>

            </td>
        </tr>
    </table>

<hr />
<h2 style="text-align: center; margin-bottom: 30px;"> خطاب ندب للامتحانات العامة سنة @Model.Committee.SchoolYear</h2>

<table style="width: 100%" class="table">
    <tr style="background-color: #c0c0c0">
        <th style="width:16.6%;">اسم الامتحان</th>
        <th style="width: 10%;">العمل المكلف به</th>
        <th style="width: 15%;">مقر العمل</th>
        <th style="width: 30%;">تاريخ العمل</th>
        <th style="width: 16%; font-size: 10px;">تاريخ الاجتماع برئيس لجنة سير الامتحان بمقر اللجنة </th>
        <th><label>ملاحظات</label></th>
    </tr>

    <tr>
        <td>

            <div>
                امتحان دبلوم المدارس الثانوية الصناعية نظام السنوات الثلاث
                الدور الاول
            </div>
        </td>
        <td>
            <div>@Model.Role.Title</div>

        </td>
        <td>
            <div>@Model.Committee.Name </div>
        </td>
        <td>
            <div>
                @Model.StartDate
                - @Model.EvaluationDate
                - @Model.TheoroticalDate
            </div>
        </td>
        <td>
            <div>@Model.MeetingDate</div>
        </td>
        <td>
            <div>
                @Model.Committee.Address
            </div>
        </td>
    </tr>

</table>
<div style="font-size: 14px;">

    <p style="font-weight: bold">
        السيد / @Model.Name -
        @Model.Job.Title 
        @if (Model.Speciality != null)
        {
            <span>- @Model.Speciality.Name</span> 
        }
        - @Model.School.Title
    </p>

    <p>
        نتشرف بإفادتكم أنه قد تقرر ندبكم للأعمال المذكورة بالجدول المبين بعاليه في الاماكن والتواريخ  المذكورة أمام كل منها فنرجو أن تكونوا بمقر هذه الاعمال في التواريخ المذكورة .
        كما نرجو أن تطلعوا في المدرسة وفي مقر اللجنة على التعليمات الموضوعة لهذا العمل الواردة بالاستمارة رقم ( 2 أ )  واتباع ما جاء بها بكل دقة في القيام بما عهد اليكم , ونرجو عدم التخلف عن العمل تنفيذا للقرار الوزاري رقم 159 بتاريخ   1973/6/20 وتتبع الخطوات المدونة في حالة الاعتذار .
        تطبيقا لأحكام القرار الوزاري رقم 159 لسنة 1973 والنشرة العامة رقم 1981 والنشرة العامة رقم 11 لسنة 1983
        يراعى الآتي :
    </p>
    <p>
        أولاً : لا يرخص للعاملين بمدارس الوزارة وفروعها بالإجازة الا بعد الحصول على إقرار من الرئيس المختص بأن العامل
        قد انتهى من جميع اعمال الامتحانات التي كلف بها.
    </p>
    <p>
        ثانيا : إذا اقتضت اعتبارات قويةً للاعتذار عن العمل في الامتحانات يتبع الآتي :
    </p>
    <ul>
        <li>
            يقدم العامل اعتذارا كتابياً الى الرئيس المباشر أو رئيس لجنة تقدير الدرجات حسب الاحوال مبيناً به الاسباب التي تحول بينه وبين الاشتراك في أعمال الامتحانات .
        </li>
        <li>
            يقوم الرئيس المباشر أو رئيس لجنة تقدير الدرجات بتحويل الطلب الى لجنة الادارة مشفوعاً برأيه.
        </li>
        <li>
            لا يعتبر الاعتذار مقبولاً إلا بعد الحصول على موافقة كتابية من لجنة الادارة المختصة بالامتحان .
        </li>
        <li>
            أذا كان الاعتذار بسبب المرض يقوم رئيس لجنة سير الامتحان أو رئيس لجنة تقدير الدرجات بإخطار الرئيس المباشر للمعتذر لإحالته الى القومسيون الطبي للكشف عليه واخطار لجنة الادارة المختصة بنتيجة الكشف الطبي .
        </li>
    </ul>
    <p>
        ثالثاً : في حالة التخلف عن أعمال الامتحانات دون عذر مقبول تطبق القواعد الآتية بالنسبة للمتخلف :
    </p>

    <ul>
        <li>إعتبار المتخلف منقطعاً عن عمله وتطبق عليه الاحكام القانونية فيما يخص بأجره وذلك مع عدم الاخلال بالمسئولية التأديبية .</li>
        <li>خفض الدرجات المخصصة لعنصري الانضباط ومدى تحمل المسئولية في بند السلوك والشخصية بالتقري السنوي للمتخلف.</li>
    </ul>
    <p style="text-align: center; font-weight: 700; margin: 20px auto;">
        وتفضلوا بقبول فائق الاحترام .
    </p>


    <p style="text-align: left; margin-left: 50px;">
        رئيس لجنة الادارة
    </p>

</div>
